<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<th:block th:if="${mess}">
    <span th:text="${mess}"></span>
</th:block>
<fieldset>
    <legend>Edit this Customer</legend>
    <button><a href="/customers">Back to list</a></button>
    <form th:action="@{/edit-customer/__${customer.id}__}" th:method="post" th:object="${customer}">
        <table border="1">
            <tr>
                <td>Name: </td>
                <td><input th:field="*{name}"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input th:field="*{email}"></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
            </tr>
            <tr>
                <td>Phone Number: </td>
                <td><input th:field="*{phoneNumber}"></td>
                <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Number Error</td>
            </tr>
            <tr>
                <td>Province: </td>
                <td>
                    <select th:field="*{province}">
                        <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" th:value="Edited">
    </form>
</fieldset>
</body>
</html>